---
title: Lopreiato Family
description: Homepage of Drew, Paul, and Janet Lopreiato
layout: page
---

<div class="hero" id="top">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="captioned-image">
          <img class="u-max-full-width" src="images/Hero_Family01.jpg" />
          <div class="caption">
            <h2 class="lopreiato">The Lopreiato Family</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>About</h3>
        <p>
          Since there's only a handful of Lopreiato's in the United States, you might be looking for one of us! We've set up this convenient spot where we'll keep our contact information updated, so feel free to bookmark it so you can keep tabs on any of us. Or just search for our last name and you should find this website again somewhere near the top of your results.
        </p>
        <p>
          This site is intentionally pretty sparse, as we've found that keeping our r&eacute;sum&eacute;s and LinkedIns up to date is already a hassle. We've left a photo and a little biopgraphy to help you verify that we are who you're looking for, but if you would like more in-depth information, definitely click into our social media accounts.
        </p>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="section" id="profiles">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h3>Our Profiles</h3>
        </div>
      </div>
      <div class="row">
        {% for profile in site.profiles %}
        <div class="six columns headshot">
          <a href="{{ profile.relative_path }}"><img class="u-max-full-width" src="{{ "/images/" | relative_url | append: profile.portrait }}" /></a>
          <h4><a href="{{ profile.relative_path }}">{{ profile.shortname }}</a><br><small>{{ profile.blurb }}</small></h4>
        </div>
        {% if forloop.last == false and forloop.index0 | modulo: 2 == 1 %}
      </div>
      <div class="row">
        {% endif %}
        {% endfor %}
      </div>
      <hr>
    </div>
  </div>
