<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway" rel="stylesheet"> 

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{{ "css/normalize.css" | relative_url }}">
<link rel="stylesheet" href="{{ "css/skeleton.css" | relative_url }}">
<link rel="stylesheet" href="{{ "css/custom.css" | relative_url }}">

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="{{ "images/favicon.png" | relative_url }}">
