<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.fullname }}</title>
  <meta name="description" content="{{ page.blurb }}">

  {% include styles.html %}

</head>
<body>
  {% include navbar.html %}

  <div class="hero" id="top">
    <div class="container">
      <h1>{{ page.fullname }}</h1>
    </div>
  </div>
  
  <div class="section" id="profile">
    <div class="container">
      <div class="row">
        <div class="six columns">
          <img class="u-max-full-width" src="{{ "/images/" | relative_url | append: page.portrait }}">
        </div>
        <div class="six columns">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  {% if links %}
  <div class="section" id="connect">
      <div class="container">
        <div class="row">
          <h4>Connect with me</h4>
          <ul>
            {% for link in links %}
            <li><a href="{{ link.location }}"><img src="{{ "/images/" | relative_url | append: link.icon }}"></a></li>
            {% endfor %}
          </ul>
        </div>
        <hr>
      </div>
    </div>
  {% endif %}

  {% include footer.html %}
</body>
</html>